/*.container {
  display: flex;
}

.symptoms_form {
  margin: auto;
}*/

.header {
  display: flex;
  padding: 20px 20px 0 20px;
}

.logo {
  flex: 6;
}

.nav {
  flex: 1;
}

.HolyGrail,
.HolyGrail-body {
  display: flex;
  flex-direction: column;
}

.HolyGrail-nav {
  order: -1;
}

.HolyGrail-content {
  font-size: 7vw;
  margin: auto;
}

header {
  font-size: 30px;
  padding: 20px;
  display: flex;
  flex: 2;
}

ul {
  flex: 2;
}


@media (min-width: 320px) {
  .HolyGrail-body {
    flex-direction: row;
    flex: 1;
  }
  .HolyGrail-content {
    flex: 1;
    margin: auto;
  }
  .HolyGrail-nav, .HolyGrail-ads {
    /* 12em is the width of the columns */
    flex: 0 0 10em; /* adjust this for mobile and stuff */
  }
}